.auth-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-form {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-form input,
.auth-form select,
.auth-form button {
  padding: 12px;
  font-size: 16px;
}

.auth-form button {
  cursor: pointer;
}